<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/utils.css">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <script src="https://kit.fontawesome.com/d5a98b8c2b.js" crossorigin="anonymous"></script>
</head>

<body class="h-auto flex flex-col justify-center m-0">
    <div class="container py-6 w-full">
        <header class="flex flex-col items-center">
            <h1 class="uppercase font-bold text-4xl text-main">Sucess!</h1>
            <span class="block font-normal text-xl !text-secondary text-center m-auto">Here is your generated QR code:</span>
        </header>

        <div class="m-auto flex items-center flex-col">
            <img class="h-72 w-72" src=<%=src%> alt="QR Code Image">
            <p class="text-gray-700">Scan the QR Code to access data!</p>
            <a href="/"><button type="button" class="bg-secondary h-14 text-white font-semibold px-6 shadow-md rounded-2xl w-48 mt-4 hover:text-rose-200">Back</button></a>

            <div class="flex items-center flex-col pt-6">
                <span class="block text-main">QR Code Generator</span>
                <span class="block pt-3 text-secondary">Copyright © 2023 Francisco Luna</span>
            </div>
            <br>
        </div>
    </div>
    </div>

</body>

</html>