<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success!</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" type="text/css" href="/utils.css">
  <script src="https://kit.fontawesome.com/d5a98b8c2b.js" crossorigin="anonymous"></script>
</head>

<body class="h-auto">

  <div class="container px-6 py-6">
    <header class="flex flex-col items-center">
      <h1 class="uppercase font-bold text-4xl text-main">Sucess!</h1>
      <span class="block font-normal text-xl !text-secondary text-center m-auto">Here is your generated QR code:</span>
    </header>

    <div class="m-auto flex items-center flex-col">
      <img class="h-72 w-72" src=<%=src%> alt="QR Code Image">
      <p class="text-gray-700">Scan the QR Code to access data!</p>
      <a href="/"><button type="button" class="bg-secondary h-14 text-white font-semibold px-6 shadow-md rounded-2xl w-48 mt-4 hover:text-rose-200">Back</button></a>
      <br>
    </div>
  </div>
  <footer class="bg-main w-full h-full flex flex-col py-12">
    <span class="text-lg font-semibold text-white m-auto">Support us:</span>
    <div class="flex h-full sticky items-center m-auto">
      <ul class="flex justify-center gap-12 pt-4">
        <li><a href="https://twitter.com"><i class="fab fa-twitter text-white text-2xl hover:scale-110 duration-200"></i></a></li>
        <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in text-white text-2xl hover:scale-110 duration-200"></i></a></li>
        <li><a href="https://www.github.com"><i class="fab fa-github text-white text-2xl hover:scale-110 duration-200"></i></a></li>
      </ul>
    </div>
    <span class="m-auto font-light text-white pt-4">Copyright © 2023 Francisco Luna</span>
  </footer>


  </div>

</body>

</html>